#img_logo{
    height: 50px;
    width: 50px;
}
#img_logo > img{
    height: 50px;
    width: 50px;
}
.borda_arredondada{
    border-radius: 10px;
}
.efeito_escala :hover{
    transform: scale(1.02);
}
.tam-imagens{
    width: 100%;
    height: 259px;
}